{% block form_row  %}
    {% spaceless %}
        <div class="formRow{% if errors %} hasError{% endif %}">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="alert alert-error" data-alert="alert">
                    <b>{{ ('interface.flash.error')|trans }}:</b> {{ error.messagePluralization is null
                                                                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                                                                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators') }}
                </div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_widget_compound %}
    {% spaceless %}

            {% if form.parent is empty %}
                {{ form_errors(form) }}
            {% endif %}
            {{ block('form_rows') }}
            {{ form_rest(form) }}

    {% endspaceless %}
{% endblock form_widget_compound %}

{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_widget(prototype) }) %}
        {% endif %}

        {% set attr = attr|merge({'class': form.vars.name ~ ' form-collection' }) %}
        <ul {{ block('widget_container_attributes') }}>
            {% if form.parent is empty %}
                {{ form_errors(form) }}
            {% endif %}
            {% if form|length > 0 %}
                {% for child in form %}
            {% set attr = attr|merge({'class': 'embedded-child' }) %}
            <li {{ block('widget_container_attributes') }}>
                    {{ form_widget(child) }}
            </li>
                {% endfor %}
            {% endif %}
            {{ form_rest(form) }}
        </ul>

    {% endspaceless %}
{% endblock collection_widget %}

{% block choice_widget %}
    {% spaceless %}
        {% if expanded %}
            <div {{ block('widget_container_attributes') }}>
                {% for child in form %}
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                {% endfor %}
            </div>
        {% else %}
            {%  if select2 %}
                <script>
                    $(document).ready(
                            function() { $( "#{{ id }}" ).select2({
                                {% if empty_value is not none %}placeholder: "{{ empty_value|trans }}{% if required == false %} [{{ 'form.general.optional'|trans }}]{% endif %}",{% endif %}
                                {% if required == false %}allowClear: true,{% endif %}
                                containerCssClass: 'sir'
                            });
                    });
                </script>
                {% endif %}
            <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
                {% if select2 and empty_value is not empty %}
                    <option value=""></option>
                {% elseif empty_value is not none %} %}
                    <option value="">{{ empty_value|trans }}</option>
                {% endif %}
                {% if preferred_choices|length > 0 %}
                    {% set options = preferred_choices %}
                    {{ block('widget_choice_options') }}
                    {% if choices|length > 0 and separator is not none %}
                        <option disabled="disabled">{{ separator }}</option>
                    {% endif %}
                {% endif %}
                {% set options = choices %}
                {{ block('widget_choice_options') }}
            </select>
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget %}