{% extends 'PwcSirBundle:Division:left-small-right-large.html.twig' %}

{% block sidebar %}
    {{ knp_menu_render('PwcSirBundle:Builder:settingsMenu', {'currentClass': 'active', 'template': 'PwcSirBundle:Menu:knp_menu.html.twig'}) }}
{% endblock sidebar %}

{% block contentBody %}
    <div class="well">
        <ul class="entity owasp">
            <li class="detail"><label class="pull-left">{{ 'form.label.owaspset.name'|trans }}</label><span class="value">{{ entity.name|trans }}</span></li>
            <li class="detail"><label class="pull-left">{{ 'form.label.owaspset.year'|trans }}</label><span class="value">{{ entity.year }}</span></li>
            {% for owaspitem in entity.owaspitems %}
            <li class="detail"><label class="pull-left">#{{ owaspitem.rank }}</label><span class="value">{{ owaspitem.name|trans }}</span></li>
            {% else %}
            <li class="detail"><label class="pull-left">{{ 'form.label.owaspset.owaspitems'|trans }}</label><span class="value">-</span></li>
            {% endfor %}
        </ul>

        <div class="record_actions">
            {% include "PwcSirBundle:Includes:actions.html.twig" with { 'entity': entity, 'editRoute': path('owaspset_edit', { 'slug': entity.slug }), 'deleteRoute': path('owaspset_delete', { 'slug': entity.slug }) } %}
            <a class="pull-right cancel" href="{{ path('owaspset') }}">{{ 'form.general.back_list'|trans }}</a>
        </div>

        {% include "PwcSirBundle:Includes:deleteModal.html.twig" with { 'delete_form': delete_form } %}
    </div>
{% endblock contentBody %}