<div class="btn-group pull-right">
    <a class="btn dropdown-toggle btn-info btn-mini" data-toggle="dropdown" href="#"><span class="actions">{{ 'form.general.actions'|trans }}</span><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ showRoute }}"><i class="icon-eye-open"></i>{{ 'form.general.button.show'|trans }}</a>
        </li>
        <li>
            <a href="{{ editRoute }}"><i class="icon-pencil"></i>{{ 'form.general.button.edit'|trans }}</a>
        </li>
<!--
        <li icon="icon-trash">
            <a class="delete" href="{{ deleteRoute }}"><i class="icon-trash"></i>{{ 'form.general.submit.delete'|trans }}</a>
        </li>
-->
    </ul>
</div>