<ul class="record_actions">
    <li><a class="button" href="{{ path(edit_route, { 'slug': entity.slug }) }}">{{ 'form.general.submit.edit'|trans }}</a></li>
    <li><form action="{{ path(delete_route, { 'slug': entity.slug }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit">{{ 'form.general.submit.delete'|trans }}</button>
    </form></li>
</ul>