<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Security Issue Repository - {% block title %}{% if title is defined %}{{ title }}{% else %}No title set yet{% endif %}{% endblock %}</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
    {% javascripts
    'bundles/pwcsir/js/chosen.jquery.js'
    'bundles/pwcsir/js/select2.js' output='bundles/pwcsir/js/main.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.no-icons.min.css">

    {% stylesheets
    'bundles/pwcsir/css/select2.css'
    'bundles/pwcsir/css/chosen.css' filter='cssrewrite' output='bundles/pwcsir/css/main.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="stylesheet" href="/bundles/pwcsir/css/sir.css" />

</head>

<body>

    {% block body %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-content">
                    {{ knp_menu_render('PwcSirBundle:Builder:mainMenu', {'currentClass': 'active', 'template': 'PwcSirBundle:Menu:knp_menu.html.twig'}) }}
                    {{ knp_menu_render('PwcSirBundle:Builder:userMenu', {'template': 'PwcSirBundle:Menu:knp_menu.html.twig'}) }}
                </div>
            </div>
        </div>
    </div>

    <div class="main container">
        <div class="page-header">
            {% block pageHeader %}
            <h1>{% if title is defined %}{{ title|trans }}{% else %}No title set yet{% endif %}</h1>
            {% endblock pageHeader %}
        </div>
        {% block pageLead %}
        <p class="lead">The Security Issue Repository uses several components that can be managed through this Settings page. These components include the management of Products, Tools and OWASP Lists.</p>
        {% endblock pageLead %}
        <div class="row-fluid">
            <div class="span4">
                {{ knp_menu_render('PwcSirBundle:Builder:settingsMenu', {'currentClass': 'active', 'template': 'PwcSirBundle:Menu:knp_menu.html.twig'}) }}
            </div>
            <div class="span8">
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <b>Warning!&nbsp;</b>You best check yourself, you're not looking so good.
                </div>
                <div class="well">
                    {% block sectionHeader %}
                    <h4>{% if subtitle is defined %}{{ subtitle|trans }}{% else %}No subtitle set yet{% endif %}</h4>
                    {% endblock sectionHeader %}
                    {% block contentBody %}{% endblock contentBody %}
                </div>
            </div>
        </div>
    </div>
    {% endblock body %}

</body>

</html>

{% block label %}
    <span class="label pull-left">Important</span>
{% endblock label %}

{% block paginator %}
    <div class="pagination pagination-small pagination-centered">
        <ul>
            <li class="disabled">
                <a href="#">Prev</a>
            </li>
            <li>
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">Next</a>
            </li>
        </ul>
    </div>
{% endblock paginator %}