{% extends 'PwcSirBundle:Division:left-small-right-large.html.twig' %}

{% block sidebar %}
    {{ knp_menu_render('PwcSirBundle:Builder:settingsMenu', {'currentClass': 'active', 'template': 'PwcSirBundle:Menu:knp_menu.html.twig'}) }}
{% endblock sidebar %}

{% block contentBody %}
<div class="well">
    <ul class="entity">
        <li class="detail"><label class="pull-left">{{ 'form.label.tool.name'|trans }}</label><span class="value">{{ entity.name|trans }}</span></li>
        <li class="detail">
            <label class="pull-left">{{ 'form.label.tool.products'|trans }}</label>
            <ul class="value">
                {% for product in entity.products %}
                    <li>{{ product.name|trans }}</li>
                {% else %}-
                {% endfor %}
            </ul>
        </li>
    </ul>

    <div class="record_actions">
        {% include "PwcSirBundle:Includes:actions.html.twig" with { 'entity': entity, 'editRoute': path('tool_edit', { 'slug': entity.slug }), 'deleteRoute': path('tool_delete', { 'slug': entity.slug }) } %}
        <a class="pull-right cancel" href="{{ path('tool') }}">{{ 'form.general.back'|trans }}</a>
    </div>

    {% include "PwcSirBundle:Includes:deleteModal.html.twig" with { 'type': 'tool', 'deleteRoute': path('tool_delete', { 'slug': entity.slug }), 'delete_form': delete_form } %}
</div>
{% endblock contentBody %}