<h1>VulnDescription list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Risk</th>
            <th>Solution</th>
            <th>Slug</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('vulndescription_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.risk }}</td>
            <td>{{ entity.solution }}</td>
            <td>{{ entity.slug }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('vulndescription_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('vulndescription_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('vulndescription_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
