{% extends 'PwcSirBundle::base.html.twig' %}
{% form_theme form 'PwcSirBundle:Form:fields.html.twig' %}

{% block body %}
<h1>{{ 'vulndescription.new.title'|trans }}</h1>

<form action="{{ path('vulndescription_create', { 'language': language.slug, 'slug': vulnerability.slug }) }}" method="post" {{ form_enctype(form) }}>

    <div class="row"><label for="vulnerability">{{ 'form.label.vulndescription.vulnerability'|trans }}</label><span id="vulnerability" class="strvalue">{{ vulnerability.name|trans }}</span></div>
    <div class="row"><label for="language">{{ 'form.label.vulndescription.language'|trans }}</label><span id="language" class="strvalue">{{ language.name|trans }}</span></div>

    {{ form_widget(form) }}

    <ul class="record_actions">
        <li class="submit"><button type="submit">{{ 'form.general.submit.create'|trans }}</button></li>
        <li class="cancel">
            <a href="{{ path('vulndescription') }}">{{ 'form.general.back'|trans }}</a>
        </li>
    </ul>
</form>

{% endblock %}