{% extends 'PwcSirBundle::base.html.twig' %}

{% block contentBody %}
    <div class="well">
        <ul class="entity">
            <li class="detail"><label class="pull-left">{{ 'form.label.vulndescription.name'|trans }}</label><span class="value">{{ entity.name }}</span></li>
            <li class="detail"><label class="pull-left">{{ 'form.label.vulndescription.description'|trans }}</label><span class="value">{{ entity.description|nl2br }}</span></li>
            <li class="detail"><label class="pull-left">{{ 'form.label.vulndescription.risk'|trans }}</label><span class="value">{{ entity.risk|nl2br }}</span></li>
            <li class="detail"><label class="pull-left">{{ 'form.label.vulndescription.solution'|trans }}</label><span class="value">{{ entity.solution|nl2br }}</span></li>
        </ul>

        <div class="record_actions">
            {% include "PwcSirBundle:Includes:actions.html.twig" with { 'entity': entity, 'editRoute': path('description_edit', { 'slug': entity.slug }), 'deleteRoute': path('description_delete', { 'slug': entity.slug }) } %}
            <a class="pull-right cancel" href="{{ path('vulnerability', { 'slug': vulnerability.slug }) }}">{{ 'form.general.back'|trans }}</a>
        </div>

        {% include "PwcSirBundle:Includes:deleteModal.html.twig" with { 'delete_form': delete_form } %}
    </div>
{% endblock contentBody %}