{% extends 'PwcSirBundle::base.html.twig' %}

{% block content %}
<ul class="entityIndex">

    {% for entity in entities %}
    <li>
        <a href="{{ path('product_show', { 'slug': entity.slug }) }}">{{ entity.name|trans }}</a>
        <ul class="actions">
            <li>
                <a href="{{ path('product_edit', { 'slug': entity.slug }) }}">{{ 'form.general.submit.edit'|trans }}</a>
            </li>
        </ul>
    </li>
    {% endfor %}

    <li class="entityNew">
        <a href="{{ path('product_new') }}">{{ 'form.label.product._new'|trans }}</a>
    </li>
</ul>

{% endblock content %}