{% extends 'PwcSirBundle::base.html.twig' %}

{% block contentBody %}
{{ knp_pagination_sortable(pagination, 'Name', 'name') }}

<ul class="entity index">

    {% for entity in pagination %}
    <li class="detail{% if loop.index is odd %} color{% endif %}">
        <a href="{{ path('product_show', { 'slug': entity.slug }) }}">{{ entity.name|trans }}</a>
        {% include "PwcSirBundle:Includes:actions.html.twig" with { 'editRoute': path('product_edit', { 'slug': entity.slug }), 'deleteRoute': path('product_delete', { 'slug': entity.slug }) } %}
    </li>
    {% endfor %}

    <li class="detail new">
        <i class="icon-plus-sign"></i> <a href="{{ path('product_new') }}">{{ 'form.label.product._new'|trans }}</a>
    </li>
</ul>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>



<script>

$(document).ready(function()
{
    $('A.delete').click(function(e) {

        e.preventDefault();



    });
});

</script>

{% endblock contentBody %}