{% extends 'PwcSirBundle::base.html.twig' %}
{% form_theme form 'PwcSirBundle:Form:fields.html.twig' %}

{% block contentBody %}
<div class="well">
    <form action="{{ path('product_create') }}" method="post" {{ form_enctype(form) }} novalidate>
        {{ form_widget(form) }}

        <div class="record_actions">
            <button type="submit" class="btn btn-info">{{ 'form.general.button.save'|trans }}</button>
            <a class="pull-right cancel" href="{{ path('product') }}">{{ 'form.general.back'|trans }}</a>
        </div>

    </form>
</div>
{% endblock contentBody %}