{% extends 'PwcSirBundle:Division:left-small-right-large.html.twig' %}
{% form_theme form 'PwcSirBundle:Form:fields.html.twig' %}

{% block sidebar %}
    {{ knp_menu_render('PwcSirBundle:Builder:settingsMenu', {'currentClass': 'active', 'template': 'PwcSirBundle:Menu:knp_menu.html.twig'}) }}
{% endblock sidebar %}

{% block contentBody %}
<div class="well">
    <form action="{{ path('product_create') }}" method="post" {{ form_enctype(form) }} novalidate>
        {{ form_widget(form) }}

        <div class="record_actions">
            <button type="submit" class="btn btn-info">{{ 'form.general.button.save'|trans }}</button>
            <a class="pull-right cancel" href="{{ path('product') }}">{{ 'form.general.back_list'|trans }}</a>
        </div>

    </form>
</div>
{% endblock contentBody %}