{% extends 'PwcSirBundle::base.html.twig' %}

{% block contentHeader %}
    <h1>{{ entity.name|trans }}</h1>
{% endblock contentHeader %}

{% block contentBody %}

<ul class="entity">
    <li class="detail"><span class="attr-label">{{ 'form.label.product.name'|trans }}</span> <span class="attr-value">{{ entity.name|trans }}</span></li>
    <li class="detail">
        <span class="attr-label">{{ 'form.label.product.tools'|trans }}</span>
        <ul class="attr-value">
            {% for tool in entity.tools %}
                <li>{{ tool.name }}</li>
            {% else %}-
            {% endfor %}
        </ul>
    </li>
</ul>

{% endblock contentBody %}